
<form action="." class="flex flex-col gap-3">
    <div class="flex flex-col md:flex-row gap-4 w-full">
        <div class="w-full">
            <label
                class="block mb-1 text-base text-white"
            >
                Nombre
            </label>
            <input
                type="text"
                name="name"
                class="text-sm rounded-lg block w-full p-2.5 bg-gray-600 border-transparent placeholder-gray-100 text-white focus:ring-blue-500 focus:border-blue-500"
                placeholder="nombre"
                required
            />
        </div>
        <div class="w-full">
            <label
                class="block mb-1 text-base text-white"
            >
                Apellido
            </label>
            <input
                type="text"
                name="last_name"
                class="text-sm rounded-lg block w-full p-2.5 bg-gray-600 border-transparent placeholder-gray-100 text-white focus:ring-blue-500 focus:border-blue-500"
                placeholder="apellido"
                required
            />
        </div>
    </div>

    <div>
        <label
            class="block mb-1 text-base text-white"
        >
            Correo
        </label>
        <input
            type="email"
            name="email"
            class="text-sm rounded-lg block w-full p-2.5 bg-gray-600 border-transparent placeholder-gray-100 text-white focus:ring-blue-500 focus:border-blue-500"
            placeholder="correo electronico"
            required
        />
    </div>
    <div>
        <label
            class="block mb-1 text-base text-white"
        >
            Contraseña
        </label>
        <input
            type="password"
            name="password"
            class="text-sm rounded-lg block w-full p-2.5 bg-gray-600 border-transparent placeholder-gray-100 text-white focus:ring-blue-500 focus:border-blue-500"
            placeholder="******"
            required
        />
    </div>

    <!-- terms -->
    <div class="flex gap-4">
        <input type="checkbox" required name="" id="" />
        <p>
            Acepto las políticas de privacidad para toma de
            datos personales detalladas en los
            <a
                class="text-primary font-bold text-xs"
                href="/#">T&C</a
            >
        </p>
    </div>
    <!-- terms -->

    <button
        formaction="/profile"
        type="submit"
        data-modal-target="static-modal"
        class="bg-primary p-2.5 px-6 rounded-lg md:text-3xl text-nowrap  text-center"
    >
        Enviar formulario
    </button>
</form>