---

---

<span class="text-nowrap 
text-xs md:text-base lg:text-3xl
">Plan Intermedio</span>

			<a href="/payment"
				class="curosor-pointer bg-gray-400 px-4 py-1 rounded-3xl  text-gray-100
			flex gap-4 items-center 
			text-nowrap text-xs md:text-sm lg:text-xl
			"
			>
				Mejorar plan
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="9"
					height="12"
					viewBox="0 0 9 12"
					fill="none"
				>
					<path
						d="M0.841248 5.35197L4.81398 1.37924"
						stroke="#575757"
						stroke-width="1.31575"></path>
					<path
						d="M7.86261 5.35216L3.88988 1.37943"
						stroke="#575757"
						stroke-width="1.31575"></path>
					<line
						x1="4.36167"
						y1="1.62137"
						x2="4.36167"
						y2="11.1086"
						stroke="#575757"
						stroke-width="1.31575"></line>
				</svg>
			</a>