
        <!-- el correcto para mi? -->
        <section class="py-16 md:py-32 px-[5%]">
            <div
                class="container pb-16 flex justify-center flex-col items-center text-center"
            >
                <h2 class="font-bebas text-3xl md:text-7xl">
                    ¿Que plan es el correcto para mi?
                </h2>
                <span class="text-xs md:text-2xl"
                    >Rellena el formulario y te lo diremos de inmediato</span
                >
            </div>
  
            <div class="container px-[10%] flex flex-col gap-16">
                <div>
                    <!-- opcion de hardcode extremo mas 🍝🍝🍝  -->
                    <p class="mb-6">Cada cuanto haces ejercicio?</p>
    
                    <div class="grid grid-cols-2 md:grid-cols-4 gap-5 ">
                        <div
                            class="h-auto flex flex-col gap-2 bg-gray-400 py-4 rounded-3xl text-center"
                        >
                            <i><span class="text-6xl not-italic leading-none">🙅‍♂️</span></i>
                            <p>nunca</p>
                        </div>
                        <div
                            class="h-auto flex flex-col gap-2 bg-gray-400 py-4 rounded-3xl text-center"
                        >
                            <i><span class="text-6xl not-italic leading-none">🙅‍♂️</span></i>
                            <p>nunca</p>
                        </div>
                        <div
                            class="h-auto flex flex-col gap-2 bg-gray-400 py-4 rounded-3xl text-center"
                        >
                            <i><span class="text-6xl not-italic leading-none">🙅‍♂️</span></i>
                            <p>nunca</p>
                        </div>
                        <div
                            class="h-auto flex flex-col gap-2 bg-gray-400 py-4 rounded-3xl text-center"
                        >
                            <i><span class="text-6xl not-italic leading-none">🙅‍♂️</span></i>
                            <p>nunca</p>
                        </div>
                    </div>
                </div>
    
                <button
                class="bg-primary p-[14px] md:px-[22px] rounded-lg text-white mx-[10%] w-min text-nowrap md:mx-auto"
                >Saber cual es mi plan ideal</button
            >
            </div>
        </section>
        <!-- el correcto para mi? -->