---
import Layout from "/src/components/layout/index.astro";
import Head from "/src/components/Head.astro";

import Login from "/src/components/auth/Login.astro";
import Register from "/src/components/auth/Register.astro";
---

<Layout title="home page">
    <section class="container py-16 pb-32 px-[5%] md:px-[20%] text-sm">
        <div class="flex bg-gray-400 mx-[5%] p-[5%] md:mx-auto max-w-xl rounded-2xl">
            <div
                id="form"
                class="flex overflow-hidden scroll-smooth items-center"
            >
          
            <div
            id="login"
            class="flex h-full justify-center flex-col flex-shrink-0 w-full gap-6"
        >
            <Head
                title={`Ingresa a tu cuenta`}
                description="y descubre el mundo del coaching"
            />
            <Login/>
         
            <a class="flex mx-auto text-lg" href="#register">Ya tengo cuenta</a>
        </div>
                <div
                    id="register"
                    class="flex h-full justify-center flex-col flex-shrink-0 w-full gap-6"
                >
                    <Head
                        title={`Crea tu cuenta`}
                        description="y descubre el mundo del coaching"
                    />
                    <Register/>
                    <a class="flex mx-auto" href="#login">Ya tengo cuenta</a>
                </div>
     
               
              
            </div>
        </div>
    </section>
</Layout>
