---
import Layout from "/src/components/layout/index.astro";
import Head from "/src/components/Head.astro";

import Login from "/src/components/auth/Login.astro";
import Register from "/src/components/auth/Register.astro";
---

<Layout title="home page">
    <div class="container px-[5%]">

    <div class="relative flex w-full justify-start gap-4 items-center my-8 font-bold">

        <a href="/" class=" flex gap-2 items-center text-base left-0">
            <svg class="rotate-180" xmlns="http://www.w3.org/2000/svg" width="11" height="19" viewBox="0 0 11 19"
                fill="none">
                <path d="M1.4943 2L9.40845 9.91414L1.48101 17.8416" stroke="white" stroke-width="2.04849"
                    stroke-linecap="round" />
            </svg>
            Back
        </a>
    </div>    
</div>

    <section class="container  pb-32 px-[5%] md:px-[20%] text-sm">
       
        
        <div class="flex bg-gray-400 mx-[5%] p-[5%] md:mx-auto max-w-xl rounded-2xl">
            <div
                id="form"
                class="flex overflow-hidden scroll-smooth items-center">
          
                <div
                id="login"
                class="flex h-full justify-center flex-col flex-shrink-0 w-full gap-6">
                <Head
                    title={`Ingresa a tu cuenta`}
                    description="y descubre el mundo del coaching"/>
                <Login/>
            
                <a class="flex mx-auto text-lg" href="#register">Aún no tengo cuenta</a>
                </div>
                <div
                    id="register"
                    class="flex h-full justify-center flex-col flex-shrink-0 w-full gap-6">
                    <Head
                        title={`Crea tu cuenta`}
                        description="y descubre el mundo del coaching"
                    />
                    <Register/>
                    <a class="flex mx-auto" href="#login">Ya tengo cuenta</a>
                </div>             
            </div>
        </div>
    </section>
</Layout>
