---
import Head from "../components/Head.astro";
import Layout from "/src/components/layout/index.astro";
import FocalLight from "/src/components/FocalLight.astro";
import SelectGroup from "/src/components/sections/survey/SelectGroup.astro";
---



<Layout title="home page">
    <section class="container py-16 px-[5%]">
        <div class="relative py-16">
            <div class="absolute inset-x-0 flex justify-center -top-5">
                <FocalLight />
            </div>
            <Head
                title="Cuestionario de Evaluación del \n Nivel de Habilidad en Sala de Pesas"
                tclass="text-[33px] md:text-[100px]  "
                description="Rellena este cuestionario para poder personalizar con más eficiencia tus ejercicios y lecciones que verás."
                dclass=" md:text-[40px] "
            />
        </div>

        <form
            action="."
            method="dialog"
            class="flex flex-col gap-8 md:gap-12 leading-none md:px-[10%]"
        >
            <!-- personal -->

            <!-- <div class="flex flex-col md:flex-row md:px-[5%] gap-4">
                <label class="">
                    <span class="mb-2">Nombre</span>
                    <input maxlength="25" type="text" class="" required />
                </label>
                <label>
                    <span class="mb-2">Apellido</span>
                    <input maxlength="25" type="text" class="" required />
                </label>
            </div> -->

            <h4 class="mt-16  text-[22px] md:text-[50px] text-center font-bebas">
                Experiencia general
            </h4>

            <!-- select -->
             <SelectGroup
             ask="¿Cuánto tiempo llevas entrenando regularmente en el gimnasio?"
             options={["Menos de 6 meses", "6meses - 2años", "Más de 2 años"]}
             name="exp1"
             />

             <SelectGroup
             ask="¿Con qué frecuencia te entrenas en el gimnasio cada semana?"
             options={["1-2 veces", "6meses - 2años", "Más de 2 años"]}
             name="exp2"
             />

             <SelectGroup
             ask="¿Cuál es tu nivel de confianza al ejecutar correctamente los siguientes ejercicios? (Sentadilla con barra, Peso muerto, Press de banca con barra, Press militar con barra)"
             options={["Nunca los he intentado / necesito asistencia constante", "Estoy familiarizado, pero necesito supervisión ocasional", "Estoy muy confiado y los realizo regularmente sin supervisión"]}
             name="exp3"
             />

             <SelectGroup
             ask="¿Has participado alguna vez en programas de entrenamiento estructurados (ej. programas de fuerza, culturismo, powerlifting)?"
             options={["No, nunca", "Sí, pero solo por periodos cortos", "Sí, por un periodo prolongado"]}
             name="exp4"
             />


             <h4 class="mt-16  text-[22px] md:text-[50px] text-center font-bebas">
                Conocimiento de la Programación de Entrenamiento
            </h4>
             <SelectGroup
             ask="¿Eres capaz de crear y adaptar un programa de entrenamiento basado en tus objetivos?"
             options={["No, me baso en programas preestablecidos o en entrenadores", 
             "Sí, pero con habilidades limitadas para modificar y adaptar", "Sí, con un excelente entendimiento de las variables del entrenamiento (volumen, intensidad, frecuencia)"]}
             name="coEntre1"
             />

             <SelectGroup
             ask=" ¿Conoces los principios de periodización y los aplicas en tus entrenamientos?"
             options={["No, no conozco estos conceptos", "Sí, tengo un conocimiento básico y los aplico ocasionalmente", "Sí, tengo un conocimiento profundo y los uso regularmente"]}
             name="coEntre2"
             />



             <h4 class="mt-16  text-[22px] md:text-[50px] text-center font-bebas">
               Conocimiento de Progresiones y Adaptación
            </h4>

             <SelectGroup
             ask="¿Cómo monitoreas tus progresos en el gimnasio?"
             options={["No monitoreo los progresos", "Ocasionalmente reviso el peso levantado o el número de repeticiones", "Llevo un diario de entrenamiento detallado y monitoreo constantemente los progresos"]}
             name="coProgre1"

             />
             <SelectGroup
             ask="¿Eres capaz de identificar y corregir por ti mismo posibles errores en tu técnica de ejecución de los ejercicios?"
             options={["No, dependo completamente del feedback de un entrenador", "Sí, pero a veces necesito confirmación de un experto", "Sí, soy consciente de mis errores y sé cómo corregirlos"]}
             name="coProgre2"

             />




            <button
                type="reset"
                data-modal-target="static-modal"
                data-modal-toggle="static-modal"
                class="mt-8 bg-primary p-2.5 px-6 rounded-lg md:text-3xl text-nowrap mx-auto"
            >
                Enviar formulario
            </button>
        </form>

        
    </section>
</Layout>
