---
import Head from "../components/Head.astro";
import Layout from "/src/components/layout/index.astro";
import FocalLight from "/src/components/FocalLight.astro";
---

<style>
    input {
        @apply bg-gray-50 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-400 border-transparent dark:placeholder-gray-100 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500;
    }
    label {
        @apply flex flex-col w-full text-center;
    }

    label:has(input[type="radio"]:checked) {
        @apply bg-primary;
    }
</style>

<Layout title="home page">
    <section class="container py-16 px-[5%]">
        <div class="relative py-16">
            <div class="absolute inset-x-0 flex justify-center -top-5">
                <FocalLight />
            </div>
            <Head
                title="Cuestionario de Evaluación del \n Nivel de Habilidad en Sala de Pesas"
                tclass="text-[33px] md:text-[100px]  "
                description="Rellena este cuestionario para poder personalizar con más eficiencia tus ejercicios y lecciones que verás."
                dclass=" md:text-[40px] "
            />
        </div>

        <form
            action="."
            method="dialog"
            class="flex flex-col gap-8 md:gap-24 leading-none md:px-[10%]"
        >
            <!-- personal -->

            <div class="flex flex-col md:flex-row md:px-[5%] gap-4">
                <label class="">
                    <span class="mb-2">Nombre</span>
                    <input type="text" class="" required />
                </label>
                <label>
                    <span class="mb-2">Apellido</span>
                    <input type="text" class="" required />
                </label>
            </div>

            <h4 class="text-[22px] md:text-[50px] text-center font-bebas">
                Experiencia general
            </h4>

            <!-- select -->

            <fieldset class="">
                <legend class="text-center"
                    >¿Cuánto tiempo llevas entrenando regularmente en el
                    gimnasio?</legend
                >
                <div class="flex flex-col md:flex-row gap-2 md:gap-4 my-4">
                    <label
                        class="cursor-pointer py-5 md:py-10 w-full bg-gray-400 rounded-md hover:bg-gray-200"
                    >
                        <span>Menos de 6 meses</span>
                        <input
                            class="invisible h-0 w-0"
                            type="radio"
                            name="group1"
                        />
                    </label>

                    <label
                        class="cursor-pointer py-5 md:py-10 w-full bg-gray-400 rounded-md hover:bg-gray-200"
                    >
                        <span>Menos de 6 meses</span>
                        <input
                            class="invisible h-0 w-0"
                            type="radio"
                            name="group1"
                        />
                    </label>
                    <label
                        class="cursor-pointer py-5 md:py-10 w-full bg-gray-400 rounded-md hover:bg-gray-200"
                    >
                        <span>Menos de 6 meses</span>
                        <input
                            class="invisible h-0 w-0"
                            type="radio"
                            name="group1"
                        />
                    </label>
                </div>
            </fieldset>

            <fieldset class="">
                <legend class="text-center"
                    >¿Cuánto tiempo llevas entrenando regularmente en el
                    gimnasio?</legend
                >
                <div class="flex flex-col md:flex-row gap-2 md:gap-4 my-4">
                    <label
                        class="cursor-pointer py-5 md:py-10 w-full bg-gray-400 rounded-md hover:bg-gray-200"
                    >
                        <span>Menos de 6 meses</span>
                        <input
                            class="invisible h-0 w-0"
                            type="radio"
                            name="group1"
                        />
                    </label>

                    <label
                        class="cursor-pointer py-5 md:py-10 w-full bg-gray-400 rounded-md hover:bg-gray-200"
                    >
                        <span>Menos de 6 meses</span>
                        <input
                            class="invisible h-0 w-0"
                            type="radio"
                            name="group1"
                        />
                    </label>
                    <label
                        class="cursor-pointer py-5 md:py-10 w-full bg-gray-400 rounded-md hover:bg-gray-200"
                    >
                        <span>Menos de 6 meses</span>
                        <input
                            class="invisible h-0 w-0"
                            type="radio"
                            name="group1"
                        />
                    </label>
                </div>
            </fieldset>
            <!-- select -->

            <button
                type="reset"
                data-modal-target="static-modal"
                data-modal-toggle="static-modal"
                class="mt-8 bg-primary p-2.5 px-6 rounded-lg md:text-3xl text-nowrap mx-auto"
            >
                Enviar formulario
            </button>
        </form>

        <dialog
           
            class="z-20 bg-black bg-opacity-50 h-screen w-screen fixed inset-0"
        >
            <div class="w-full h-full flex items-center">
                <div
                    class="max-w-xl mx-[5%] sm:mx-auto flex flex-col gap-6  bg-gray-400 text-white text-center px-8 py-8 rounded-3xl"
                >
                    <h3 class="font-bebas text-4xl">Formulario enviado</h3>

                    <p>
                        Te habilitaremos tus lecciones lo más pronto posible, te
                        avisaremos por medio de Email y mensaje cuando tus
                        clases personalizadas estén listas en la plataforma
                    </p>
                    <form action="">
                        <button
                            formaction="/profile"
                            class="bg-gray-300 px-8 py-2 rounded-3xl text-xl"
                        >
                            Entendido
                        </button>
                    </form>
                </div>
            </div>
        </dialog>
    </section>
</Layout>
