@tailwind base;
@tailwind components;
@tailwind utilities;

html,body{
    /* overflow-x: hidden; */
}

/* *{
    border: 1px red solid;
    max-width: 100vw;
} */
@layer base {
    :root {
        --violet: 151 71 255;
        --blue: 0 41 255;

        --white: 255 255 255;
        --bg-white-2: 251 251 251;
        --white-2: 209 209 209;
        --luz-focal: 198 198 209;
      
        --grey-1: 87 87 87;
        --shadow-players: 62 62 62; /* 0.300 */
        --button-grey-2: 57 57 57;
        --lines-bg: 45 45 45;
        --button-grey: 41 41 41;
        --play: 35 35 35; /*  0.6 */
        --dark-2: 32 33 35;
        --bg-dark: 28 29 31;
        --black: 0 0 0;
    }
}

.messagge{
    clip-path: url(/assets/message.svg);
}


@keyframes slide-in-left {
    0% {
        transform: translateX(-30%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;

    }
}
.animate-slide-in-left {
    animation: slide-in-left 2s ease-out both 1s;
}


/* INPUTS */

input{
    &:focus,&:target{
        outline: none;
    }
}

select{
    background-color: transparent;
    outline: transparent;
    position: relative;
    &::after, &::before{
        background-color: transparent;
        outline: transparent;
    }


}

