---
import messageSvg from "/src/assets/message.svg";
import messageSvgT from "/src/assets/message-t.svg";

interface Props {
    step: number;
    reverse: boolean;
    top: number;
    left: number;
}

const { step = 1, reverse = false, top = 0, left = 0 } = Astro.props;
---

<style>
    div {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
</style>

<div class=`absolute top-[${top}%] left-[${left}%] pointer-events-none`>
    
    <div
        class:list={[
            "flex   gap-2 items-center ",
            `flex-col${reverse ? "-reverse" : ""}`,
        ]}
    >
        <div
            class:list={[
                "flex items-center justify-center",
                "aspect-square min-w-[76px] max-w-[104px] h-full  rounded-full bg-primary",
            ]}
        >
            <h5 class="text-white font-bold text-[45px] md:text-[67px]">
                {step + 1}
            </h5>
        </div>

        <div
            style={`background-image: url('${reverse ? messageSvg.src : messageSvgT.src}');`}
            class:list={[
                "bg-center bg-no-repeat bg-origin-border bg-cover cursor-auto",
                " overflow-visible max-w-72 p-4 ",
                "text-xl flex flex-col relative z-20",
                reverse
                    ? `justify-start aspect-[93/80]`
                    : `justify-end aspect-[100/80]`,
            ]}
        >
            <h5 class="font-bold">Creación de Rutina Personalizada</h5>

            <p>
                Registra membresías, beneficiarios, comercios y beneficios con
                vigencias y normas.
            </p>
        </div>
    </div>
</div>
