---
import logo from "/src/assets/logo.png";

---
<nav
class="container z-20 relative mt-[29px] md:mt-[43px] flex justify-between px-[5%] md:gap-[87px] items-center"
>
<a class="md:mr-auto flex-shrink-0" href="/">
    <img
        class="w-auto h-[1.9rem] md:h-[3.5rem]"
        src={logo.src}
        alt=""
    /></a
>

<a class="absolute left-[40%] md:flex md:relative md:left-auto flex-shrink-0 py-2 px-3 cursor-pointer border border-transparent hover:border-primary active:border-primary rounded-md"><p>Planes</p></a>
<a href="/perfil" class="flex-shrink-0 py-2 px-3 cursor-pointer border border-transparent hover:border-primary active:border-primary rounded-md"><p>Iniciar sesion</p></a>
</nav>