---
import logo from "../assets/logo.png";

---
<nav
class="container mt-[29px] md:mt-[43px] flex justify-between px-[5%] md:gap-[87px] items-center"
>
<a class="md:mr-auto flex-shrink-0" href="/">
    <img
        class="w-auto h-[1.9rem] md:h-[3.5rem]"
        src={logo.src}
        alt=""
    /></a
>

<a class="flex-shrink-0"><p>Planes</p></a>
<a class="flex-shrink-0"><p>Iniciar session</p></a>
</nav>