---

---


<form id="loginForm" action="." class="flex flex-col gap-3">
    <div>
        <label class="block mb-1 text-base text-gray-900 dark:text-white">
            Correo
        </label>
        <input
            type="email"
            name="email"
            class="text-sm rounded-lg block w-full p-2.5 bg-gray-600 border-transparent placeholder-gray-100 text-white focus:ring-blue-500 focus:border-blue-500"
            placeholder="correo electronico"
            required
        />
    </div>
    <div>
        <label class="block mb-1 text-base text-gray-900 dark:text-white">
            Contraseña
        </label>
        <input

            type="password"
            name="password"
            class="text-sm rounded-lg block w-full p-2.5 bg-gray-600 border-transparent placeholder-gray-100 text-white focus:ring-blue-500 focus:border-blue-500"
            placeholder="******"
            required
        />
    </div>

    <button
        type="submit"
        class="bg-primary p-2.5 px-6 rounded-lg md:text-3xl text-nowrap text-center my-4"
    >
        Enviar formulario
    </button>
</form>
